.t100DataPanelTabTitle {
	font-size: 11pt;
    width: 310px;
   /* text-align:center;*/
}


#t100DataPanelAirportName{
	font-size: 11pt;
}
#t100DataPanelDistance{
	font-size: 9pt;
	font-style: italic;
	color: #336699;
}

#t100DataPanelSummaryTable {
	font-size: 9pt;
	width: 310px;
	border-collapse: collapse;
	border-spacing: 0;
}

#t100DataPanelSummaryTable .header1 {
	border-width: 0px;
}


#t100DataPanelSummaryTable .rowName {
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	padding-top: 2px;
	padding-left: 5px;
	font-weight: bold;
}

#t100DataPanelSummaryTable .rowIndex {
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	font-weight: bold;
	text-align:center;
}

#t100DataPanelSummaryTable tr.alt .rowIndex {
	background-color: rgb(211, 211, 211);
}

#t100DataPanelSummaryTable .rowName:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 113, 198);
	cursor: pointer;
}


#t100DataPanelSummaryTable tr.alt .rowName {
	background-color: rgb(211, 211, 211);
}

#t100DataPanelSummaryTable tr.alt .rowName:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 113, 198);
	cursor: pointer;
}

#t100DataPanelSummaryTable .rowItem {
	text-align:left;
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	padding-bottom: 2px;
	padding-left: 5px;
}

#t100DataPanelSummaryTable .rowItemIndex {
	text-align:left;
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	padding-left: 5px;
	font-weight: bold;
	color: rgb(105, 105, 105);
}


#t100DataPanelSummaryTable tr.alt .rowItem {
	background-color: rgb(211, 211, 211);
}


#t100DataPanelSummaryTable tr.alt .rowItemIndex {
	background-color: rgb(211, 211, 211);
}

#t100AirportDetailReportBtn {
	font-size: 12px;
    color: yellow;
	text-decoration:underline ;
}

#t100OriginPanelAirportName {
    font-size: 11pt;
}