html{
    height: 100%;
}
body {
	font-size: 14px;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	font-weight: normal;
    background-color:#CCC;    
    height: 100%;
}

h1 {
	font-size: 2.0em;
	line-height: 1.1em;
	font-family: "Trebuchet MS", sans-serif;
}

h2 {
	font-size: 1.4em;
	line-height: 1.1em;
	font-family: "Trebuchet MS", sans-serif;
}

h3 {
	font-size: 1.1em;
	line-height: 1.0em;
	font-family: "Trebuchet MS", sans-serif;
}

h4,h5,h6 {
	font-size: 1em;
	line-height: 1.0em;
	font-family: "Trebuchet MS", sans-serif;
}

th,td {
	text-align: center;
	vertical-align: center;
	padding: .2em;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	color: rgb(51, 102, 187);
}

ol {
	line-height: 1.5em;
}

ul {
	list-style-type: square;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#MainContent {
	width: 1200px;
	margin: 0px auto;
    background-color:white;
    min-height: 100%;
    padding-bottom: 5px;
}

#TitleBar {
	background-color: rgb(112, 112, 112);
	color: rgb(255, 255, 255);
	text-align: left;	
	font-family: "Trebuchet MS", sans-serif;
	padding: 20px 15px 20px 15px;
}

#PageTitle {
	font-size: 180%;
	line-height: 1em;
}

#PageSubTitle {
	font-size: 1em;
	margin-top:5px;
	padding-left: 25px;
}

#NavBar {
	background: rgb(225, 225, 225);
	text-align: left;
	padding: 7px 15px 7px 15px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: rgb(105, 105, 105);
    position:relative;
}

#NavBar a {
	font-size: 1.1em;
	font-weight: bold;
}

#NavBar #CurrentPageTitle {
	font-size: 1.1em;
	font-weight: bold;
}

.TextContent {
	font-size: 1.1em;
	margin-left: 30px;
	margin-right: 30px;
	line-height: 1.3em;
}

.CrossLine {
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	width: 100%;
}

.SectionTitle {
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	font-weight: normal;
}

.NormalImage {
	padding: 10px;
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 1px;
}

.BottomImage{

	border-width: 0px;
}
.DivBorder {
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 1px;
}

#DivAirportTable {
	position: absolute;
	visibility: hidden;
	width: 590px;
	max-height: 600px;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 40;
	background-color: rgb(255, 255, 255);
	margin-left: 5px;
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
}

#AirportTable {
	width: 100%;
}

#AirportTable tr {
	border-color: rgb(192, 192, 192);
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	/*color: rgb(0, 113, 198);*/
}

#AirportTable tr:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 113, 198);
	cursor: pointer;
}

#AirportTable td.IataCode {
	width: 10%;
	text-align: center;
}

#AirportTable td.Name {
	width: 60%;
	text-align: left;
	font-weight: bold;
}

#AirportTable td.City {
	width: 30%;
	text-align: left;
}

#AirportTable td {
	padding: 5px 0px 5px 15px;
}

.Project 
{
	margin-top:10px;
	margin-bottom:10px;
}
.Project  .DivPic
{
	float:left;
}
.Project  .Text
{
	float:left;
	padding-left:10px;
	width:800px;
}